/* #ex6{
    background-color: rgba(128, 0, 128, 0.242);
    width:50% ;
    height: 50%;
} */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c050;
    font-family:'ğ‘³ğ’ğ’“ğ’†ğ’ ğ’Šğ’‘ğ’”ğ’–ğ’ ğ’…ğ’ğ’ğ’ğ’“' ;
    flex-direction: column;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#900c3fec;
    color: silver;
    border: 5px solid #900c3F ;
    box-shadow: 2px 2px 10px #900c3F;
    width: 20%;
    height: 6%;
    border-radius: 20px;  
}
main{
    background-color: rgba(159, 154, 154, 0.274);
    border: 5px solid #900c3F ;
    box-shadow: 2px 2px 10px #900c3F;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    

}
.row1{


width: 20%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.row2{
    
        
        width: 20%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#900c3fec;
    color: silver;
    border: 5px solid #900c3F ;
    box-shadow: 2px 2px 10px #900c3F;
    width: 60%;
    height: 40%;
    border-radius: 20px;  
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
}
.row3{
    width: 20%;
    height: 70%;

}
h3{
    font-size: 1.5rem;
    color: white;
    background-color: #900c3f76;
    border-radius: 10px;
}

.btn-file{
    width: 100%;
    height: 30%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.btn-file a{
    text-decoration: none;
    color: #900c3F;
    background-color: rgba(255, 255, 255, 0.295);
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;

}